@{
    ViewData["Title"] = "Scanner";
}


<div class="row">
    <h4 class="col-10">LAN Scanner</h4>
    <a class="btn btn-outline-secondary col-2" asp-controller="Scanner" asp-action="Settings">Settings</a>
</div>
<table class="table table-sm">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">IP Address</th>
        <th scope="col">Hostname</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td></td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td></td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td></td>
    </tr>
    </tbody>
</table>