@{
    ViewData["Title"] = "Status";
}

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Scanner</h5>
                <p class="card-text">Do first scan for some information here.</p>
                <a href="#" class="btn btn-primary">Start scanning</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Notifications</h5>
                <p class="card-text">No notications ...</p>
                <a href="#" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
</div>
